{% comment %}
  Homepage Template - Converted from Home.tsx
  Uses sections for modular content
{% endcomment %}

<main class="home">
  {% section 'hero' %}
  {% section 'featured-collections' %}
  {% section 'featured-products' %}
  {% section 'values' %}
</main>

<style>
.home {
  padding-top: 60px;
}
</style>
